<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
		body {
			font-family: sans-serif;
		}
		th, td {
			text-align: left;
			white-space: nowrap;
		}
		th[scope=col] {
			padding-top: 1em;
		}
		th[scope=row] {
			font-weight: normal;
		}
		.locale {
			padding-right: 25px;
			white-space: nowrap;
			vertical-align: middle;
			font-size: 0.9em;
		}
		.locale > * {
			vertical-align: middle;
		}
		.error {
			background-color: #ff9999;
		}
		.odd {
			background-color: #eee;
		}
	</style>
	<%= javascript_include_tag 'jquery', 'rails_i18n_examples' %>
</head>
<body>
	<p>
		<a href="#" id="select_all">select all</a>
		<a href="#" id="select_none">select none</a>
	</p>
	<table>
		<% @locales.each_slice(10) do |locales| %>
		<tr>
			<% locales.each do |locale| %>
				<td class="locale">
					<%= check_box_tag 'locales[]', locale, locale_active?(locale), :class => 'display_locale', :id => "locale_#{locale}" %>
					<%= label_tag locale, locale, :for => "locale_#{locale}" %>
				</td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<table>
	<% @groups.each do |group| %>
			<tr>
				<th scope="col"><%= group.name %></th>
				<% @locales.each do |locale| %>
					<th scope="col" class="<%= locale %>" style="<%= 'display: none;' unless locale_active?(locale) %>"><%= locale %></th>
				<% end %>
			</tr>
			<% group.examples.each do |example| %>
				<tr class="<%= cycle 'odd', nil %>">
					<th scope="row"><%= example.description %></th>
					<% @locales.each do |locale| %>
						<td class="<%= locale %>" style="<%= 'display: none;' unless locale_active?(locale) %>">
							<%= example.yield(self, locale) %>
						</td>
					<% end %>
				</tr>
			<% end %>
	<% end %>	
	</table>
</body>
</html>